<div class="middle-box text-center loginscreen  animated fadeInDown">
	<div>
		<div>
			<h1 class="logo-name">IN+</h1>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="ibox-content" [ngClass]="{'sk-loading': isLoading}">
					<app-loading-layout class="sk-spinner" [visibility]="isLoading"></app-loading-layout>
					<h2 class="font-bold">Welcome to IN+</h2>
					<p>Login in. To see it in action.</p>
					<form class="m-t" [formGroup]="signupForm" (ngSubmit)="onSignup(signupForm)">
						<div class="form-group">
							<input required formControlName="fullname" type="text" class="form-control" placeholder="Full Name">
						</div>
						<div class="form-group">
							<input required formControlName="email" type="email" class="form-control" placeholder="Email Address">
						</div>
						<div class="form-group">
							<input required formControlName="password" type="password" class="form-control" placeholder="Password">
						</div>
						<button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary block full-width m-b">Register</button>
						<p class="text-muted text-center">
							<small>Already have an account?</small>
						</p>
						<a class="btn btn-sm btn-white btn-block" routerLink="/auth/login">Login</a>
					</form>
				</div>
			</div>
		</div>

		<hr class="row m-b-none">

		<div class="row p-h-sm">
			<div class="col-md-9 text-left">
				Copyright Ampage Tech
			</div>
			<div class="col-md-3 text-right">
				<small>&copy; {{ date.getFullYear() }}</small>
			</div>
		</div>
	</div>
</div>
