<app-pageHeader-layout [name]="title" [breadcrumb]="page_header_breadcrumb"></app-pageHeader-layout>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">

			<div class="ibox">
				<div class="ibox-content h-300" [ngClass]="{'sk-loading': isLoading}">
					<app-loading-layout class="sk-spinner" [visibility]="isLoading"></app-loading-layout>

					<div class="">

						<div class="mail-tools tooltip-demo m-b-xs clearfix">
							<form [formGroup]="searchForm" (ngSubmit)="onSearch(searchForm)">
								<div class="row m-b-sm">
									<div class="col-xs-4 col-sm-3">
										<ng-select2 [data]="result.blogs" [width]="'100%'"
											class="form-control input-sm no-paddings"
											(valueChanged)="changeCity($event, 0)">
										</ng-select2>
									</div>

									<div class="col-xs-4 col-sm-3">
										<ng-select2 [data]="result.categories" [width]="'100%'"
											class="form-control input-sm no-paddings"
											(valueChanged)="changeCity($event, 1)">
										</ng-select2>
									</div>

									<div class="col-xs-4 col-sm-4">
										<div style="width: 100%;" class="input-daterange input-group">
											<input angular-mydatepicker name="mydate"
												(dateChanged)="changeCity($event, 2)" [options]="myDatePickerOptions"
												[placeholder]="'Filter From date'"
												class="form-control input-sm no-padding" #dp="angular-mydatepicker">
											<span class="input-group-addon" style="width: 30px;">to</span>
											<input angular-mydatepicker name="mydate"
												(dateChanged)="changeCity($event, 3)" [options]="myDatePickerOptions"
												[placeholder]="'Filter to date'"
												class="form-control input-sm no-padding" #dp="angular-mydatepicker">
										</div>
									</div>
								</div>


								<div formArrayName="searchRows"
									*ngIf="searchForm.value.filter_tag === 0 || searchForm.value.filter_tag === '0'">
									<div class='row m-b-sm'
										*ngFor="let search_row of searchForm.controls.searchRows.controls; let i=index"
										[formGroupName]="i">

										<div class="col-xs-3 col-sm-2" *ngIf="i !== 0">
											<ng-select2 [data]="filter_operator" [width]="'100%'"
												class="form-control input-sm no-paddings"
												(valueChanged)="changeCity($event, 4, i)">
											</ng-select2>
										</div>

										<div class="col-xs-3 col-sm-2">
											<ng-select2 [data]="filter_type" [width]="'100%'"
												class="form-control input-sm no-paddings"
												(valueChanged)="changeCity($event, 5, i)">
											</ng-select2>
										</div>

										<div class="" [ngClass]="(i < 1) ? 'col-xs-6 col-sm-8' : 'col-xs-4 col-sm-6'">
											<input type="text" class="form-control input-sm" formControlName="filter"
												placeholder="Search term">
										</div>

										<div class="col-xs-2 col-sm-2">
											<button *ngIf="searchForm.controls.searchRows.controls.length > 1"
												(click)="deleteFilter(i)" title="Remove"
												class="btn btn-danger btn-sm m-r-xs" type="button">
												<span aria-hidden="true" class="fa fa-minus"></span>
											</button>
											<button (click)="addFilter()" title="add "
												class="btn btn-primary btn-sm m-r-xs" type="button">
												<span aria-hidden="true" class="fa fa-plus"></span>
											</button>
										</div>
									</div>
								</div>

								<button type="button" class="btn btn-white btn-sm m-r-xs"
									(click)="initSearchForm()">Reset</button>
								<button class="btn btn-primary btn-sm m-r-xs" type="submit">Apply</button>

							</form>
						</div>

						<ng-container *ngIf="result.data.data">
							<div class="hr-line-dashed"></div>

							<app-browserControl-layout [data]="result.data.data" [pagination]="result.data"
								[controlMenu]="controlMenu" (onControlItemClicked)="loadSearchResult($event)">
							</app-browserControl-layout>
						</ng-container>


					</div>

					<ng-container *ngIf="result.data.data">
						<div class="">
							<app-news-layout [data]="result.data.data"></app-news-layout>
						</div>
					</ng-container>









				</div>
			</div>

		</div>
	</div>
</div>
