<!--
https://p.w3layouts.com/demos/july-2016/15-07-2016/product_pricing_plans_widget/web/
http://www.instantshift.com/2015/10/16/free-html5-css3-pricing-tables/
http://nulldefinition.com/30-best-html-css-pricing-table-templates-tutorials/
-->
<div class="main">
	<!---728x90--->

	<h1>Product Pricing Plans Widget</h1>
	<!---728x90--->

	<div class="w3l_main_grids">
		<div class="w3l_main_grid">
			<div class="w3l_main_grid_top">
				<h3>Product <span>1</span></h3>
				<img src="images/1.png" alt=" ">
			</div>
			<div class="w3l_main_grid_middle">
				<ul>
					<li>sunt in culpa qui</li>
					<li>porro sint occaecat</li>
					<li>fugiat nulla parinon</li>
				</ul>
			</div>
			<div class="w3ls_order">
				<h3>$143</h3>
				<a class="popup-with-zoom-anim" href="#small-dialog">Order Now</a>
			</div>
		</div>
		<div class="w3l_main_grid">
			<div class="w3l_main_grid_top w3l_main_grid_top1">
				<h3>Product <span>2</span></h3>
				<img src="images/2.png" alt=" ">
			</div>
			<div class="w3l_main_grid_middle w3l_main_grid_middle1">
				<ul>
					<li>velit esse quam nihil</li>
					<li>enim ipsam voluptatem</li>
					<li>beatae vitae cta sunt</li>
				</ul>
			</div>
			<div class="w3ls_order w3ls_order1">
				<h3>$129</h3>
				<a class="popup-with-zoom-anim" href="#small-dialog">Order Now</a>
			</div>
		</div>
		<div class="w3l_main_grid">
			<div class="w3l_main_grid_top w3l_main_grid_top2">
				<h3>Product <span>3</span></h3>
				<div class="w3ls_order w3ls_order2">
					<h3>$112</h3>
				</div>
			</div>
			<div class="w3l_main_grid_middle w3l_main_grid_middle2">
				<ul>
					<li>iste natus error sit</li>
					<li>occaecat cupidatat non</li>
					<li>in culpa qui officia</li>
				</ul>
			</div>
			<div class="w3ls_order w3ls_order2">
				<h3>$112</h3>
				<a class="popup-with-zoom-anim" href="#small-dialog">Order Now</a>
			</div>
		</div>
		<div class="clear"> </div>
	</div>

	<div class="agile_copy_right">
		<p>© 2016 Product Pricing Plans Widget. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
	</div>
</div>
