.ibox-content.sk-loading:after {
	z-index: 1000;
}

#toast-container>.toast:before {
	content: "" !important;
}

.scroll {
	overflow-y: auto;
	max-height: 350px;
}

.chosen-container.form-control {
	padding: 0px !important;
}

.chosen-container.form-control .chosen-single {
	border: 0px !important;
}

.input-sm.no-paddings {
	border: none !important;
	padding: 0px !important;
}

.input-sm.no-paddings .select2-container--default .select2-selection--single {
	background-color: transparent !important;
	border-radius: 0px !important;
}

.input-sm.no-paddings .select2-container--default .select2-selection--single,
.select2-dropdown,
.select2-dropdown * {
	border-color: #e5e6e7 !important;
}

.mydp,
.mydp .headertodaybtn {
	border: 0px !important;
	padding: 0px !important;
	height: 100% !important;
}

.mydp .selectiongroup {
	height: inherit !important;
}

.mydp .selectiongroup>input:first-child {
	padding: 6px 12px !important;
	text-align: left;
}

/* Only demo */

@media (max-width: 1000px) {
	.welcome-message {
		display: none;
	}
}
