<!-- Wrapper-->
<div id="wrapper">

    <!-- Left navigation bar -->
    <app-navigation-layout></app-navigation-layout>

    <!-- Main page wrapper -->
    <div id="page-wrapper" class="gray-bg">

        <!-- Top navigation -->
        <app-topnavbar-layout></app-topnavbar-layout>

        <!-- Main view/routes wrapper-->
        <router-outlet></router-outlet>

        <!-- Footer -->
        <app-footer-layout></app-footer-layout>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
